.recommended{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    flex-basis: 49%;
    width: 50%;
}

.vid-info{
    flex-basis: 49%;
    margin-left: 12px;
}

.vid-info h2{
    font-size: 15px;
    font-weight: 600;
    color: #3a3737;
    margin: 5px 0;
}

.vid-info h4{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.vid-info p{
    font-size: 14px;
}

@media (max-width:980px){
    .recommended{
        flex-basis: 100px;
    }
}

